public/index.html

<html ng-app="SIDP"></html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>SIDP</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="public/styles/app.css"/>
  <body class="col-md-12">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="#/" class="navbar-brand">SIDP</a></div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/componente">Componentes</a></li>
            <li><a href="#/contacto">Contactos</a></li>
            <li class="dropdown"><a href="javascript:void(0)" role="button" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">Formulas<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#/formula-base">Formulas Base</a></li>
                <li><a href="#/formula">Formulas Aplicadas</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="javascript:void(0)" role="button" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">Muestras<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#/tipo-muestra">Tipos de Muestras</a></li>
                <li><a href="#/muestra">Muestras</a></li>
              </ul>
            </li>
            <li><a href="#/producto">Productos</a></li>
            <li><a href="#/suplidor">Suplidores</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ng-view="ng-view" style="margin-top: 80px; margin-bottom: 80px"></div>
    </div>
    <!-- Vendor Scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- Personal Scripts-->
    <!-- App-->
    <script type="text/javascript" src="scripts/app.js"></script>
    <!-- Filters-->
    <script type="text/javascript" src="scripts/filters/ShortenFilter.js"></script>
    <!-- Services-->
    <script type="text/javascript" src="scripts/services/HttpService.js"></script>
    <script type="text/javascript" src="scripts/services/ValidatorService.js"></script>
    <script type="text/javascript" src="scripts/services/DirControllerService.js"></script>
    <!-- Directives-->
    <script type="text/javascript" src="scripts/directives/TableView/ComponenteListDir.js"></script>
    <script type="text/javascript" src="scripts/directives/TableView/ContactoListDir.js"></script>
    <script type="text/javascript" src="scripts/directives/TableView/FormulaListDir.js"></script>
    <script type="text/javascript" src="scripts/directives/TableView/MuestraListDir.js"></script>
    <script type="text/javascript" src="scripts/directives/TableView/ProductoListDir.js"></script>
    <script type="text/javascript" src="scripts/directives/TableView/SuplidorListDir.js"></script>
    <!-- Controllers-->
    <script type="text/javascript" src="features/componente/ComponenteController.js"></script>
    <script type="text/javascript" src="features/contacto/ContactoController.js"></script>
    <script type="text/javascript" src="features/formula/FormulaController.js"></script>
    <script type="text/javascript" src="features/muestra/MuestraController.js"></script>
    <script type="text/javascript" src="features/producto/ProductoController.js"></script>
    <script type="text/javascript" src="features/suplidor/SuplidorController.js"></script>
  </body>
</head>

public/index.jade
html(ng-app='SIDP')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  title SIDP
  link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='public/styles/app.css')
  body.col-md-12
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#/') SIDP
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="#/componente") Componentes
            li
              a(href="#/contacto") Contactos
            li.dropdown
              a(href="javascript:void(0)"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false").dropdown-toggle Formulas
                span.caret
              ul(role="menu").dropdown-menu
                li
                  a(href="#/formula-base") Formulas Base
                li
                  a(href="#/formula") Formulas Aplicadas
            li.dropdown
              a(href="javascript:void(0)"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false").dropdown-toggle Muestras
                span.caret
              ul(role="menu").dropdown-menu
                li
                  a(href="#/tipo-muestra") Tipos de Muestras
                li
                  a(href="#/muestra") Muestras
            li
              a(href="#/producto") Productos
            li
              a(href="#/suplidor") Suplidores
    div.container
      div(ng-view, style="margin-top: 80px; margin-bottom: 80px")

    // Vendor Scripts
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-route/angular-route.js')

    // Personal Scripts
    // App
    script(type='text/javascript', src='scripts/app.js')

    // Filters
    script(type='text/javascript', src='scripts/filters/ShortenFilter.js')

    // Services
    script(type='text/javascript', src='scripts/services/HttpService.js')
    script(type='text/javascript', src='scripts/services/ValidatorService.js')
    script(type='text/javascript', src='scripts/services/DirControllerService.js')

    // Directives
    script(type='text/javascript', src="scripts/directives/TableView/ComponenteListDir.js")
    script(type='text/javascript', src="scripts/directives/TableView/ContactoListDir.js")
    script(type='text/javascript', src="scripts/directives/TableView/FormulaListDir.js")
    script(type='text/javascript', src="scripts/directives/TableView/MuestraListDir.js")
    script(type='text/javascript', src="scripts/directives/TableView/ProductoListDir.js")
    script(type='text/javascript', src="scripts/directives/TableView/SuplidorListDir.js")

    // Controllers
    script(type='text/javascript', src='features/componente/ComponenteController.js')
    script(type='text/javascript', src='features/contacto/ContactoController.js')
    script(type='text/javascript', src='features/formula/FormulaController.js')
    script(type='text/javascript', src='features/muestra/MuestraController.js')
    script(type='text/javascript', src='features/producto/ProductoController.js')
    script(type='text/javascript', src='features/suplidor/SuplidorController.js')
